{template '_header'}

<div class="page-header">当前位置：<span class="text-primary">{$time}对账明细</span></div>

<div class="page-content">

    <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">

        <input type="hidden" name="c" value="site" />

        <input type="hidden" name="a" value="entry" />

        <input type="hidden" name="m" value="ewei_shopv2" />

        <input type="hidden" name="do" value="web" />

        <input type="hidden" name="r" value="finance.credit.rvc_checklog" />

        <div class="page-toolbar">

            <div class="input-group">

                <span class="pull-left">

                    {php echo tpl_daterange('createtime', array('sm'=>true,'placeholder'=>'操作时间'),true);}

                </span>

                <!--<input type="text" class="form-control "  name="keyword" value="{$_GPC['keyword']}" placeholder="请输入会员信息/操作人信息" />-->

                <span class="input-group-btn">

                    <input type="hidden" name="time" value="{$_GPC['time']}" />

                    <button type="submit" name="export" value="2" class="btn btn-success ">导出</button>

                </span>

            </div>

        </div>

    </form>

    {if empty($list)}

    <div class="panel panel-default">

        <div class="panel-body empty-data">未查询到相关数据</div>

    </div>

    {else}



    <div class="row">

        <div class="col-md-12">

            <table class="table">

                <thead class="navbar-inner">

                <tr>

                    <th style='width:100px;'>粉丝</th>

                    <th style='width:80px;'>会员信息</th>

                    <th style='width:120px;'>订单号</th>

                    <th style='width:80px;'>RVC总数</th>

                    <th style='width:80px;'>RVC总价值</th>

                    <th style='width:80px;'>备注</th>

                    <th style='width:80px;'>是否对账完成</th>

                    <th style='width:100px;'>操作时间</th>

                </tr>

                </thead>

                <tbody>

                {loop $list $row}

                <tr >

                    <td>

                    {ifp 'member.list.edit'}

                    <a  href="{php echo webUrl('member/list/detail',array('id' => $row['mid']));}" target='_blank'>

                        <img  class="radius50"  src='{php echo tomedia($row['avatar'])}' style='width:30px;height:30px;padding:1px;border:1px solid #ccc' onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"/>

                        {if strexists($row['openid'],'sns_wa')}<i class="icow icow-xiaochengxu" style="color: #7586db;vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="" data-original-title="来源: 小程序"></i>{/if}

                        {if strexists($row['openid'],'sns_qq')||strexists($row['openid'],'sns_wx')||strexists($row['openid'],'wap_user')}<i class="icow icow-app" style="color: #44abf7;vertical-align: top;" data-toggle="tooltip" data-placement="bottom" data-original-title="来源: 全网通({if strexists($row['openid'],'wap_user')}手机号注册{else}APP{/if})"></i>{/if}

                        {if empty($row['nickname'])}未更新{else}{$row['nickname']}{/if}

                    </a>

                    {else}

                    <img  class="radius50"  src='{php echo tomedia($row['avatar'])}' style='width:30px;height:30px;padding1px;border:1px solid #ccc' onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'" />

                        {if strexists($row['openid'],'sns_wa')}<i class="icow icow-xiaochengxu" style="color: #7586db;vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="" data-original-title="来源: 小程序"></i>{/if}

                        {if strexists($row['openid'],'sns_qq')||strexists($row['openid'],'sns_wx')||strexists($row['openid'],'wap_user')}<i class="icow icow-app" style="color: #44abf7;vertical-align: top;" data-toggle="tooltip" data-placement="bottom" data-original-title="来源: 全网通({if strexists($row['openid'],'wap_user')}手机号注册{else}APP{/if})"></i>{/if}

                        {if empty($row['nickname'])}未更新{else}{$row['nickname']}{/if}

                    {/if}

                    </td>

                    <td>{$row['realname']}<br/>{$row['mobile']}</td>

                    <td data-toggle='popover' data-html='true' data-placement='top' data-trigger='hover' data-content='{$row['ordersn']}'>{$row['ordersn']}</td>

                    <td>{$row['amount']}</td>

                    <td>{$row['totalprice']}</td>

                    <td data-toggle='popover' data-html='true' data-placement='top' data-trigger='hover' data-content='充值RVC{$row['amount']}个，价值{$row['totalprice']}元'>充值RVC{$row['amount']}个，价值{$row['totalprice']}元</td>

                    <td>{if $row['is_check'] == 1 }对账完成{else}<span style="color: red">未对账</span>{/if}</td>

                    <td>{$row['createtime']}</td>

                </tr>

                {/loop}

                </tbody>

                <tfoot>

                <tr>

                    <td>

                        <div class="btn-group"></div>

                    </td>

                    <td colspan="5" style="text-align: right">

                        {$pager}

                    </td>

                </tr>

                </tfoot>

            </table>

        </div>

    </div>

    {/if}

</div>



{template '_footer'}