{template '_header'}

<div class="page-header">
    当前位置：<span class="text-primary">幸运抽奖</span>
</div>
<style>
    .game{
        margin-top: 6px;
        width: 100%;
        height: 36px;
    }
    .game .form-control{
        width: 32%;
        margin-left: 3%;
        float: left
    }
    .game .add{
        float: left;
        line-height: 28px;
        font-size: 15px;
        margin-left: 3%;
        border: 1px solid #44b525;
        width: 48px;
        height: 28px;
        text-align: center;
        border-radius: 66px;
        background: #44b525;
    }
    .game .delete{
        float: left;
        line-height: 28px;
        font-size: 15px;
        margin-left: 3%;
        border: 1px solid #44b525;
        width: 48px;
        height: 28px;
        text-align: center;
        border-radius: 66px;
        background: #44b525;
    }
</style>
<div class="page-content">
    <div class="alert alert-primary">
        <p>提示：设计幸运抽奖的奖项，奖励和获奖比例</p>
        <div class="col-lg pull-right" style="margin-top:-28px;text-align: right" >
            {ifp 'sysset.game'}
                <input type="hidden" name="game_id" value="{$data['id']}">
                <input type="checkbox" class="js-switch" name="status" value="{$data['status']}" {if $data['status']==1}checked{/if} />
            {/if}
        </div>
    </div>
    <label style="margin-left: 5%;width: 100px;text-align: center">奖项等级</label>
    <label style="margin-left: 8%;width: 100px;text-align: center">奖励奖品</label>
    <label style="margin-left: 16%;width: 100px;text-align: center">奖励比例</label>
    <label style="margin-left: 10%;width: 100px;text-align: center">操&nbsp;&nbsp;作</label>
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        {if count($data['sets']) == 0}
            <div class="game">
                <label class="col-lg control-label">奖项&nbsp;&nbsp;&nbsp;(1)</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="1[reward1]" class="form-control" value="">
                    <input type="text" name="1[rate1]" class="form-control" value="">
                    <span class="add" onclick="add(1)">添加</span>
                    <span class="delete" onclick="del(1)">删除</span>
                </div>
            </div>
        {/if}
        {loop $data['sets'] $key=>$item}
            <div class="game">
                <label class="col-lg control-label">奖项&nbsp;&nbsp;&nbsp;({php echo $key+1})</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="{php echo $key+1}[reward{php echo $key+1}]" class="form-control" value="{php echo $item['reward'.($key+1)]}">
                    <input type="text" name="{php echo $key+1}[rate{php echo $key+1}]" class="form-control" value="{php echo $item['rate'.($key+1)]}">
                    {if $key+1 == count($data['sets'])}
                        <span class="add" onclick="add({php echo $key+1})">添加</span>
                        <span class="delete" onclick="del({php echo $key+1})">删除</span>
                    {/if}
                </div>
            </div>
        {/loop}
        <div class="game">
            <label class="col-lg control-label">奖项类型</label>
            <input style="float: left;margin-left: 8%" type="radio" name="game_type" value="1" {if $data['game_type'] == 1 || isset($data['game_type'])}checked{/if}><span style="float: left;margin-left: 1%;margin-top: 3px">卡路里</span>
            <input style="float: left;margin-left: 8%" type="radio" name="game_type" value="2" {if $data['game_type'] == 2}checked{/if}><span style="float: left;margin-left: 1%;margin-top: 3px">折扣宝</span>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary" style="margin-top: 36px;margin-left: 16px"/>
            </div>
        </div>
    </form>
</div>
{template '_footer'}     

<script>
   // $('#add').click(function () {
   //
   // });
   //点击添加数据
    function add(num) {
        if(num >= 9){
            alert("最多9条奖励奖品");return;
        }
        num+=1
        var add = $(".add");
        $(".delete").remove();
        $(".add").parent().parent().after('<div class="game"> ' +
                                            '<label class="col-lg control-label">奖项&nbsp;&nbsp;&nbsp;('+num+')</label> ' +
                                            '<div class="col-sm-9 col-xs-12"> ' +
                                                '<input type="text" name="'+num+'[reward'+num+']" class="form-control" value=""> ' +
                                                '<input type="text" name="'+num+'[rate'+num+']" class="form-control" value=""> ' +
                                                '<span class="add" onclick="add('+num+')">添加</span> ' +
                                                '<span class="delete" onclick="del('+num+')">删除</span> ' +
                                            '</div> ' +
                                        '</div>');
        add.remove();
    }
    //$('#delete').onlick(function () {
   //
   // })
   //点击删除数据
   function del(num){
        if(num == 1){
            alert("最少保留一条奖励");return;
        }
        var del = $('.delete');
        num-=1;
        $(".delete").parent().parent().prev().find("input:eq(1)").after('<span class="add" onclick="add('+num+')">添加</span> ' +
                                                                        '<span class="delete" onclick="del('+num+')">删除</span> ');
        del.parent().parent().remove();
    }

    //游戏开关
    $('.js-switch').click(function () {
        var open = $(this);
        var status = open.val() == 1 ? 0 : 1;
        var id = $("input[name='game_id']").val();
        $.ajax({
            type : 'post',
            dataType : 'json',
            url : "{php echo webUrl('sysset/game_open')}",
            data : {id:id,status:status},
            success:function (data) {
                if(data.status == 1){
                    open.val(status);
                }
            }
        })
    })
</script>